<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giphy.sdk.ui"
    android:versionName="2.1.16" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />
    </application>

</manifest>